body {
  background-color: #e3e3e3;
}
.container {
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 10px;
}
#hero {
  margin-bottom: 10px;
}
#image {
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
}
h1 {
  font-size: 75px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 50px;
}
h4 {
  font-size: 25px;
}
#heading {
  color: rgb(255, 0, 0);
}

table,
th,
td {
  border: 1px solid black;
}
